*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body,html{
    width: 100%;
    height: 100%;
    background-image: url('./bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* css starts for bootstrap-navbar modifications */


.container-fluid img{
    margin-right: 20px;
}
.navbar{
    background-color: #f16d00;
}
.nav-item{
    font-size: 18px;
    font-weight: 600;
}
.nav-item:hover{
    background-color: #f7a969;
}
.nav-item a.active{
    background-color: #f7a969;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #f7a969;
}
.dropdown-menu .dropdown-item{
    background-color: #f16d00;
}
.dropdown-menu li hr{
    background-color: #f16d00;
}
/* css ends for bootstrap-navbar modifications */







/* contact body css starts */

/* contact page css starts */
.contact-header {
    margin-left: 30px;
    margin-top: 100px;
}


#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
    margin-right: 30px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #f16d00;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    background-color: #ffffff86;
}

#form-details form button {
    background-color: #f16d00;
    color: #fff;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 12px 20px;
    color: #000;
    background-color: #fffffffb;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.3s;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
    
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
/* contact page css ends */

.map-title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;

}
.handmap{
    width: 1200px;
    height: 850px;
    display: block;
    margin: auto;
    
}
.handmap img{
    width: 100%;
    height: 100%;
}
.img{
    object-fit: cover;
}


/* home media querry starts */

@media (max-width:799px) {
    
        #header h2{
            margin-left:10px;
            color: yellow;
        }
          /* contact page media querry */
        #form-details {
            padding: 40px;
        }
        #form-details form {
            width: 50%;
        }
        .handmap{
            width: 480px;
            height: 360px;
        }
        .handmap img{
            width: 100%;
            height: 100%;
        }
    
}

/* headerCSS Ends */

    /* footer styling starts */
    
    .footer{
        background-color: #f16d00;
        margin-top: 50%;
    }
    .active1{
        background: #f7a969;
    }
    .social{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .social a{
        font-size: 20px;
        display: inline-block;
        border: 1px solid #f16d00;
        color: black;
        width: 45px;
        padding: 10px;
        border-radius: 8px;
    }
    .social a:hover{
        background-color: #f7a969;
        color: black;
    }
    .footer ul{
        list-style: none;
        text-align: center;
        padding-bottom: 30px;
    }
    .footer ul li{
        display: inline-block;
        padding: 0px 15px;
    }
    .footer ul li a{
        text-decoration: none;
        color: black;
    }
    .footer ul li a:hover{
        background-color: #f7a969;
        color: black;
    }
    .copy-right{
        text-align: center;
        padding-bottom: 30px;
        color: black;
    }
    /* footer style ends */


@media(max-width:1030px){
    label.logo{
        font-size:20px ;
    }
    /* #checkbtn{
        display:block;
    }
    nav ul{
        width:100%;
        height:100vh;
        background-image:linear-gradient(rgb(248, 220, 195),#f16d00) ;
        position:fixed;
        top:83px;
        left: -100%;
        transition:0.5s;
    }
    nav ul li{
        display:block;
        text-align: center;
        line-height: 50px;
        margin: 15px;
    } */
}
@media(max-width:460px){
    /* #mobile i {
        margin-left: -50px;
    }
    label.f-logo{
        font-size:15px ;
    } */
    /* contact page */
    
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
    .handmap{
        width: 89%;
        height: 60%;
    }  
}
@media(max-width:385px){
    /* #mobile i {
        margin-left: -70px;
    }

    label.f-logo{
        font-size: 50px;
        margin-left: 3px;
    } */

    
    #header h2{
        margin-right: 195px;
    }
    #contact-details .details h2,
    #form-details form h2 {
        font-size: 24px;
    }
    .handmap{
        width: 89%;
        height: 50%;
    }
}
/*css for nav bar ends*/



