*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body,html{
    width: 100%;
    height: 100%;
    background-image: url('./bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* css starts for bootstrap-navbar modifications */
.container-fluid img{
    margin-right: 20px;
}
.navbar{
    background-color: #f16d00;
}

.nav-item{
    font-size: 18px;
    font-weight: 600;
}
.nav-item:hover{
    background-color: #f7a969;
}
.nav-item a.active{
    background-color: #f7a969;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #f7a969;
}
.dropdown-menu .dropdown-item{
    background-color: #f16d00;
}
.dropdown-menu li hr{
    background-color: #f16d00;
}
/* css ends for bootstrap-navbar modifications */

.heading{
    text-align: center;
    margin-top: 50px;
}

.positions{
    width: auto;
    height: auto;
    background-color: antiquewhite;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    display: flex;
    justify-content:center;
    border-radius: 10px;
}
.member1-briefs {
    display: flex;
    justify-content: center;
}
.member1 img{
    margin-top: 20px;
    width: 175px;
    height: 175px;
    border: 5px solid #f16d00;
    border-radius: 50%;
    margin-left: 40px;
    margin-bottom: 20px;
}
.member1-details,
.background{
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid lightcoral;
    border-radius: 10px;
    margin-left: 50px;
}
.member1-details h4,
.background h4{
    text-align: center;

}
.member1-details p,
.background p{
    margin-left: 15px;
    color: black;
    font-size: 17px;
    text-align: justify;
    margin-right: 5px;
}
.member1-details span{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
/* .background{
    width: 35%;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
} */



@media(max-width:1030px){  
}
/* CSS responsive ends for president */
@media(max-width:790px){  
    .member1-details, .background {
        margin-left: 30px;
    }
}


@media(max-width:480px){
    .positions {
        display: block; 
        height: 700px;   
    }
    .member1 img {
        margin-top: 25px;
        width: auto;
        height: auto;
        margin-left: 25%;
    }
    .member1-briefs {
        display: block;
    }
    .member1-details {
        width: 95%;
        margin-left: 8px;
    }
    .member1-briefs .background {
        width: 95%;
        margin-left: 8px;
    }
}


@media(max-width:350px){  
    .positions {
        height: 700px;   
    }
    .member1-details p,
    .background p{
        font-size: 17px;
}
}
    /* CSS responsive ends for president */


        /* footer styling starts */
        .footer{
            background-color: #f16d00;
            margin-top: 50%;
        }
        .social{
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .social a{
            font-size: 20px;
            display: inline-block;
            border: 1px solid #f16d00;
            color: black;
            width: 45px;
            padding: 10px;
            border-radius: 8px;
        }
        .social a:hover{
            background-color: #f7a969;
            color: black;
        }
        .footer ul{
            list-style: none;
            text-align: center;
            padding-bottom: 30px;
        }
        .footer ul li{
            display: inline-block;
            padding: 0px 15px;
        }
        .footer ul li a{
            text-decoration: none;
            color: black;
        }
        .footer ul a:hover{
            background-color: #f7a969;
            color: black;
        }
        .footer ul a.active1{
            background-color: #f7a969;
            color: black;
        }
        .copy-right{
            text-align: center;
            padding-bottom: 30px;
            color: black;
        }
    /* footer styling ends */